/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Chivo');
@import url('https://fonts.googleapis.com/css2?family=Gaegu');

.navbar-brand{
  font-family: "Gaegu";
}

.navbar a:hover{
  color: #ff6700;
}

.quarto-listing-category {
  font-family: "Gaegu";
}